{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container-lg mt-3 ms-0">
        <h2 class="mb-5">{% block heading %} Active Listings {% endblock %} </h2>

        <div class="list-group">
            {% for item in listings %}
            <div class="list-group-item d-flex flex-column flex-md-row border rounded shadow mb-2">
                <img src="{{ item.image }}" alt="{{ item.title }} Image" class=" image-fluid me-5 rounded" style="width: 150px; height: auto; object-fit: cover;">
                <div class="flex-grow-1">
                    <div class="fw-bold fs-5 mt-2 mb-2">{{ item.title }}</div>
                    <p class="mb-3 text-muted"> {{ item.description}} </p>
                    {% if item.category %}
                        <div class="mb-2">Category: {{ item.category }}</div>
                    {% endif %}
                    <p class=" fs-6 text-muted">{{ item.added_at }}</p>
                </div>
                <div class=" text-end d-flex flex-md-column justify-content-between">
                    <div class="text-success fw-bold mt-2">
                        {% if item.highest_bid %}
                            $ {{ item.highest_bid }}
                        {% else %}
                            $ {{ item.starting_bid }}
                        {% endif %}
                    </div>
                    <a href="{% url 'product' item.id %}" class="btn btn-md btn-outline-primary">View</a>
                </div>
            </div>
            {% empty %}
                <p class="ms-3">
                    {% block empty %}
                        No Listings
                    {% endblock %}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}